.advice-page {
  max-width: 800px;
  margin: 0 auto;
  /* padding: 20px; */
  /* font-family: cursive, 'Brush Script MT', 'Lucida Handwriting', sans-serif; */
  font-family: "Macondo", cursive;
}

.header-info{
    font-size: 1.9em;
    color: #ffffff;
    /* padding: 5px ; */
    border-radius: 8px;
}

.disclaimer{
    font-size: 0.9em;
    color: #ffffff;
    max-width: 350px;
    text-align: center ;
    margin: auto;
    margin-bottom: 15px;
    padding-top: 10px;
    
}

.note{
    font-size: 0.9em;
    color: #ffffff;
    margin-bottom: 5px;
    text-align: center;
}

.chat-container {
  /* border: 2px solid #dbade1; */
  border-radius: 12px;
  padding: 15px;
  min-height: 400px;
  max-height: 600px;
  overflow-y: auto;
  background-color: #fff0f55e;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  margin-left: 20px;
  margin-right: 20px;
  
}

.chat-message {
  /* padding: 10px 15px; */
  border-radius: 12px;
  max-width: 70%;
}

.chat-message.user {
  padding: 10px 15px;
  background-color: #cf74b5;
  color: #f5e1e8;
  align-self: flex-end;

}

.chat-message.ai {
  background-color: #f5e1e8;
  color: #a34d8b;
  align-self: flex-start;
  padding-left: 10px;
  padding-right: 20px;
  animation: fadeIn 0.8s ease-out forwards;
  }


@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}






.input-container {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  /* margin-bottom: 20px; */
  margin: 20px;
  
}

.input-container input {
  flex: 1;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #dbade1;
  font-size: 1rem;
  font-family: "Macondo", cursive;
}

.input-container input:focus {
  outline: none;
  border: 1px solid;
  border-color: #cf74b5;
}

.input-container button {
  padding: 10px 15px;
  border-radius: 12px;
  border: none;
  background-color: #b45886d7;
  color: #f5e1e8;
  cursor: pointer;
  font-size: 1rem;
  transition: ease-in-out 0.3s;
}

.input-container button:hover {
  background-color: #7d3559;
  transition: ease-in-out 0.3s ;
}
