.advice-page {
  max-width: 800px;
  margin: 0 auto;
  /* padding: 20px; */
  /* font-family: cursive, 'Brush Script MT', 'Lucida Handwriting', sans-serif; */
  font-family: "Macondo", cursive;
}

.header-info{
    font-size: 1.9em;
    color: #ffffff;
    /* padding: 5px ; */
    border-radius: 8px;
}


.chat-container {
  /* border: 2px solid #dbade1; */
  border-radius: 12px;
  padding: 15px;
  min-height: 400px;
  max-height: 600px;
  overflow-y: auto;
  background-color: #fff0f55e;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-message {
  padding: 10px 15px;
  border-radius: 12px;
  max-width: 70%;
}

.chat-message.user {
  background-color: #cf74b5;
  color: #f5e1e8;
  align-self: flex-end;

}

.chat-message.ai {
  background-color: #f5e1e8;
  color: #a34d8b;
  align-self: flex-start;
}

.input-container {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  
}

.input-container input {
  flex: 1;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #dbade1;
  font-size: 1rem;
  font-family: "Macondo", cursive;
}

.input-container input:focus {
  outline: none;
  border: 1px solid;
  border-color: #cf74b5;
}

.input-container button {
  padding: 10px 15px;
  border-radius: 12px;
  border: none;
  background-color: #b45886d7;
  color: #f5e1e8;
  cursor: pointer;
  font-size: 1rem;
  transition: ease-in-out 0.3s;
}

.input-container button:hover {
  background-color: #7d3559;
  transition: ease-in-out 0.3s ;
}
