.main-page {
    padding: 20px;
    margin: auto;
    text-align: center;
    /* font-family: cursive, 'Brush Script MT', 'Lucida Handwriting', sans-serif; */
    font-family: "Macondo", cursive;
    /* max-width: 600px; */
}

.flower-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill , 320px);    
    gap: 50px;
    margin-top: 20px;
    width: min(1200px, 92vw);
    justify-content: center;
}

.flower-card {
    background: #fff;
    border: 2px solid #dbade1;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 6px #dbade1;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    width: 250px;
    text-align: center;
    /* font-family: cursive , 'Brush Script MT', 'Lucida Handwriting', sans-serif ; */
    font-family: "Macondo", cursive;


}

.flower-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.flower-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.flower-card h3 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #b45886;
}

.search-filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;   
}

.search-bar {
    padding: 0.7rem 1rem;
    width: 250px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: #b45886;
    font-family: "Macondo", cursive;
}

.search-bar::placeholder{
    color: #b45886;
    /* font-family: cursive , 'Brush Script MT', 'Lucida Handwriting', sans-serif ; */
    font-family: "Macondo", cursive;
}

.search-bar:focus {
    outline-color:#b45886;
}

.filter-bar {
    padding: 0.6rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
    background-color: #fff;
    color: #b45886;
    /* font-family: cursive , 'Brush Script MT', 'Lucida Handwriting', sans-serif ; */
    font-family: "Macondo", cursive;
}

.filter-bar:focus{
    outline-color:#b45886;
}


.filter-button{
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border: none;
    background-color: #b45886d7;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    /* font-family: cursive , 'Brush Script MT', 'Lucida Handwriting', sans-serif ; */
    font-family: "Macondo", cursive;
    transition: ease-in-out 0.3s;
}

.filter-button:hover{
    background-color: #7d3559;
    transition: ease-in-out 0.3s ;
}


/* To make the search bar fit phones */
@media (max-width: 500px) {
    .search-filter-container {
        flex-direction: column;
        gap: 0.8rem;
    }

    .search-bar, .filter-bar, .filter-button {
        width: 80%;
    }
}