.quiz-page{
    margin: 20px auto;
    /* justify-self: center; */
    max-width: 600px;
    font-family: cursive, 'Brush Script MT', 'Lucida Handwriting', sans-serif;
}
.quiz-container{
    background-color: #f1e9ed;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 15px;
    /* max-width: 600px; */
    margin: 0 20px;
}

.question{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item{
    background-color: #eaaaca;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item label{
    font-size: 1.06em;
    color: #792750;
}

.item input{
    margin-right: 10px;
    border-radius: 6px;
    height: 35px;
    font-size: 1.06em;
    border: #792750b3 1.6px solid;
}

.options{
    display:grid;
    grid-template-columns: repeat(2, auto);
    /* gap: 6px; */
}

.option-item {
    display: flex;
    align-items: center;
    color: #792750;
}

.option-item input:hover{
    cursor: pointer;
}


.submit {
    background-color: #792750;
    cursor: pointer;
    color: white;
    transition: ease-in-out 0.3s;
    
}

.submit:hover{
    background-color: #a5406f;
    transform: scale(1.02);
}