.quiz-page{
    margin: 20px auto;
    /* justify-self: center; */
    max-width: 600px;
    /* font-family: cursive, 'Brush Script MT', 'Lucida Handwriting', sans-serif; */
    font-family: "Macondo", cursive;
    
}
.quiz-container{
    background-color: #fff0f55e;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 15px;
    /* max-width: 600px; */
    margin: 0 50px;
    align-items: center;
}

.question{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item{
    background-color: #b4588676;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item label{
    font-size: 1.1em;
    color: #ffffff;
    font-weight: bold;
}

.item input{
    margin-right: 10px;
    border-radius: 6px;
    height: 35px;
    font-size: 1.06em;
    border: #792750b3 1px solid;
    font-family: "Macondo", cursive;
}

.item input:focus{
    outline: none;
    border: 1.5px solid #792750b3;
}
.options{
    display:grid;
    grid-template-columns: repeat(2, auto);
    /* gap: 6px; */
}

.option-item {
    display: flex;
    align-items: center;
    color: #792750;
    border-radius: 8px;
    margin: 5px;
    background-color: #a5406f34;
}

.option-item input:hover{
    cursor: pointer;
}


.submit {
    background-color: #b45886d7;
    cursor: pointer;
    color: white;
    transition: ease-in-out 0.3s;
    
}

.submit:hover{
    background-color: #7d3559;
    /* transform: scale(1.02); */
    transition: ease-in-out 0.3s ;
}

.status{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    width: 300px;
}